.new-account {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.new-account .div-2 {
  background-color: #ffffff;
  height: 932px;
  position: relative;
  width: 430px;
}

.new-account .rectangle-1 {
  background-color: #572222 !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.new-account .group-4 {
  left: 277px !important;
  position: absolute !important;
  top: 79px !important;
}

.new-account .overlap-group {
  background-color: #d9d9d9;
  height: 181px;
  left: 0;
  position: absolute;
  top: 751px;
  width: 430px;
}

.new-account .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
}

.new-account .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 234px;
}

.new-account .line {
  height: 1px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 363px;
}

.new-account .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 173px;
  white-space: nowrap;
}

.new-account .rectangle-7 {
  left: 25px !important;
  position: absolute !important;
  top: 208px !important;
}

.new-account .rectangle-2 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 41px;
  left: 25px;
  position: absolute;
  top: 292px;
  width: 323px;
}

.new-account .rectangle-3 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 41px;
  left: 25px;
  position: absolute;
  top: 377px;
  width: 323px;
}

.new-account .rectangle-4 {
  background-color: #f2d377;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 41px;
  left: 25px;
  position: absolute;
  top: 535px;
  width: 323px;
}

.new-account .rectangle-5 {
  background-color: #f2d377;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 41px;
  left: 25px;
  position: absolute;
  top: 455px;
  width: 323px;
}

.new-account .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  white-space: nowrap;
}

.new-account .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 343px;
  white-space: nowrap;
}

.new-account .rectangle-6 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 41px;
  left: 25px;
  position: absolute;
  top: 613px;
  width: 323px;
}

.new-account .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 579px;
  white-space: nowrap;
}

.new-account .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 660px;
  white-space: nowrap;
}

.new-account .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 426px;
  white-space: nowrap;
}

.new-account .text-wrapper-10 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 503px;
  white-space: nowrap;
}

.new-account .overlap {
  background-color: #f26052;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 263px;
  position: absolute;
  top: 689px;
  width: 137px;
}

.new-account .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 85px;
}

.new-account .overlap-2 {
  background-color: #d1af49;
  height: 37px;
  left: 23px;
  position: absolute;
  top: 689px;
  width: 196px;
}

.new-account .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.new-account .polygon {
  height: 14px;
  left: 165px;
  position: absolute;
  top: 12px;
  width: 18px;
}
