.rectangle {
  background-color: #f2d377;
  height: 70px;
  position: relative;
  width: 430px;
}

.rectangle .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: -66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 347px;
}
